{{ partial "header.html" . }}

<div class="container">
  <section class="jumbotron">
    <div class="container text-center">
      <h1>LoRa Server, 开源的 LoRaWAN 网络服务器（network-server）</h1>
      <h3>
        <a href="http://www.cablelabs.com">
          <strong>Cable</strong>Labs</a>
        <sup>&reg;</sup>
        赞助
      </h3>
    </div>
  </section>

  <hr />

  <section class="intro text-center py-3">
    <p class="content">
      LoRa Server 项目提供构建LoRaWAN网络的开源组件。提供了一个可直接部署使用的解决方案，包括用户友好的web界面，gRPC 和 REST 接口。这些组件可以定制化，或者集成到现有的硬件里。所有组件是MIT授权，可以商用。
    </p>
    <p><a href="/overview/" class="btn btn-outline-primary">起步</a></p>
  </section>

  <hr />

  <section class="screenshots py-3">
    <div class="row">

      <div id="las_screenshots" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#las_screenshots" data-slide-to="0" class="active"></li>
          <li data-target="#las_screenshots" data-slide-to="1"></li>
          <li data-target="#las_screenshots" data-slide-to="2"></li>
          <li data-target="#las_screenshots" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/screenshots/web_applications.png" alt="应用" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/screenshots/web_nodes.png" alt="设备" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/screenshots/web_node_details.png" alt="设备实施数据" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/screenshots/swagger.png" alt="Swagger API 界面" />
          </div>
        </div>
        <a class="carousel-control-prev" href="#las_screenshots" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">前一张</span>
        </a>
        <a class="carousel-control-next" href="#las_screenshots" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">后一张</span>
        </a>
      </div>

    </div>
  </section>

  <hr />

  <section class="features py-3">
    <h2 class="text-center">功能</h2>
    <div class="row py-3">
      <div class="col-sm-4">
        <h4>支持Class-A</h4>
        <p class="content">
          Class A 节点，允许双向通信，每一个上行通信跟着两个短的下行窗口。终端节点的传输时隙（transmission slot）基于其自身通信需要有一个随机时间变化（ALOHA类型的协议）。
        </p>
      </div>
      <div class="col-sm-4">
        <h4>支持Class-B</h4>
        <p class="content">
          Class B 节点，允许更多的接受时隙（recieve slot），除了Class A节点的随机接受窗口，Class B节点在特定时间还会打开接受串口。为了让节点在预定的时间打开接受窗口，需要节点和网关（基站）之间做时间信标（time synchronized Beacon）同步。
        </p>
      </div>
      <div class="col-sm-4">
        <h4>支持Class-C</h4>
        <p class="content">
          Class C 节点，基本上是连续的打开接收窗口，仅在发送时关闭，所以比Class A和Class B类节点耗电，适合常供电类的场景。但他们为服务器和终端节点提供最低延迟的通信。
        </p>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-sm-4">
        <h4>自适应的data-rate</h4>
        <p class="content">
          当终端设备启用了ADR（adaptive data-rate）时，LoRa Server将确保设备使用最理想的 数据速率（data-rate）和发射功率（tx-power）。 不仅可以节省节点的功耗，还能优化无线电频谱的使用，降低碰撞风险。
        </p>
      </div>

      <div class="col-sm-4">
        <h4>实时帧记录（frame-logging）</h4>
        <p class="content">
          LoRa (App) Server 应用服务器为每个网关和节点提供实时帧记录，显示所有的 发送和接收 元数据、可读的 LoRaWAN PHYPayload原始数据，类似LoRaWAN的抓包工具。
        </p>
      </div>

      <div class="col-sm-4">
        <h4>频道配置、充配置</h4>
        <p class="content">
          不管是否要使用LoRaWAN定义的通道的子集（比如美国频段），还是想要配置其他通道（如欧盟频段），LoRa Server 会确保终端节点和网络保持通道的同步 (使用 CFList 字段或mac命令)。
        </p>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-sm-4">
        <h4>多租户 Multi-tenant</h4>
        <p class="content">
          LoRa App Server 应用服务器支持托管可以分配用户（管理员）的多个不同组组织。使用 PBKDF2密码，LoRa 应用服务器可以和MQTT代理集成 身份验证和授权，这样不同组织就可以看到他们自己的节点数据。
        </p>
      </div>

      <div class="col-sm-4">
        <h4>接口与集成</h4>
        <p class="content">
          所有组件提供 gRPC 或 REST接口，与外部服务集成。默认情况下，所有的应用数据通过MQTT通道发布，每个应用的数据、事件都可以设定HTTP端点（endpoint）。
        </p>
      </div>

      <div class="col-sm-4">
        <h4>LoRaWAN 1.0/1.1适配</h4>
        <p class="content">
          LoRa Server 支持 LoRaWAN 1.0 和 LoRaWAN 1.1 设备，包括所有区域（国家）参数规范和带宽。
        </p>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-sm-12">
        <h4 class="text-center">更多的...</h4>
        <p class="content text-center">
          请参考 <a href="/overview/">LoRa Server项目文档</a>，了解所有的功能点，以及配置选项！
        </p>
      </div>
    </div>
  </section>

  <hr />

  <section class="lpwanserver py-3">
    <h2 class="text-center">LPWAN Server by CableLabs</h2>
    <p class="content text-center">
      为统一多个LPWAN技术或LoRaWAN网络的管理，可以参见开源的 <a href="https://lpwanserver.com">LPWAN Server 项目</a>.
    </p>
  </section>

  <hr />

  <section class="support py-3">
    <h2 class="text-center">Support</h2>
    <div class="row py-3">
      <div class="col-sm-4">
        <h4>Bug提交</h4>
        <p class="content">
          在github repo上创建issue即可，对应链接再每一个组件的文档页面能找到。
        </p>
      </div>
      <div class="col-sm-4">
        <h4>社区支持</h4>
        <p class="content">
            相关问题和社区支持请访问<a href="https://forum.loraserver.io">forum.loraserver.io</a>.
        </p>
      </div>
      <div class="col-sm-4">
        <h4>商业支持</h4>
        <p class="content">
          原作者：<a href="http://www.brocaar.com">Orne Brocaar</a>；
          翻译作者：<a href="mailto:leouzdc@qq.com">bigtran</a>
        </p>
      </div>
    </div>
  </section>

  <hr />

  <section class="sponsors py-3">
    <h2 class="text-center">赞助商</h2>
    <div class="row py-3">
      <div class="col-sm-4">
        <a href="http://www.cablelabs.com/">
          <img src="img/sponsors/cablelabs.png" />
        </a>
      </div>
      <div class="col-sm-4">
        <a href="http://www.sidnfonds.nl/">
          <img src="img/sponsors/sidn_fonds.png" />
        </a>
      </div>
      <div class="col-sm-4">
        <a href="http://www.acklio.com/">
          <img src="img/sponsors/acklio.png" />
        </a>
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}